<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
 

<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <!--<form #myForm="ngForm" class="form-horizontal" (submit)="addTodo()">
        <div class="form-group">
          <label for="name" class="col-sm-2 control-label">Name : </label>
          <div class="col-xs-3">
            <input type="text" class="form-control" [(ngModel)]="model.name" name="name">
          </div>
        </div>
        </form>-->
        <label>Event name: <input type="text", name="name"></label>
        <div class="form-group">
                <label for="eventdate">EVENT DATE :</label>
                <input class="form-control" type="date" id="eventdate" required>
            </div>
  </li>
  <li>
    <h2><a target="_blank" href="https://github.com/angular/angular-cli/wiki">CLI Documentationzzzzzzzzzzz</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>
</div>